body {
    background-image: url(csgo.png);
    background-size: 100%;
    font-family: "play";
    letter-spacing: 1.5px;
}

@font-face{
    font-family: "play";
    src: url(cs_regular.ttf) format("opentype"),url(cs_regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    
}

header {
    color: rgb(255, 255, 25);
    background: rgba(50, 50, 50, 0.8);
    border: 5px solid rgb(255, 255, 25);
    font-size: 20px;
    text-align: center;
}

header small{
    font-size: 20px;
color: rgb(255, 255, 50);
}

p {
    color: rgb(255, 255, 25);
    background: rgba(50, 50, 50, 0.8);
    border: 3px solid rgb(255, 255, 25);
    float: left;
    width: 30%;
    font-size: 20px;
    text-align: justify;
    padding: 7px;
}

img {
    border: 3px solid rgb(255, 255, 25);
    float: right;
    width: 40%;
    margin-top: 1.5%;


}

h2 {
    color: rgb(255, 255, 50);
    position: absolute;
    display: block;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

footer {
    color: rgb(255, 255, 50);
    text-align: right;
    flex-wrap: wrap;
    display: block;
    position: fixed;
    bottom: 5px;
    right: 5px;
}